<ion-header>
  <ion-toolbar>
    <ion-title>Administrar Usuarios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Lista de usuarios -->
  <ion-list>
    <ion-item *ngFor="let user of users">
      <ion-label>
        <h2>{{ user.email }}</h2>
        <p>Total de grasa: {{ user.totalFat }}</p>
        <p>Total de sodio: {{ user.totalSodium }}</p>
        <p>Total de carbohidratos: {{ user.totalCarbs }}</p>
      </ion-label>
      <ion-buttons slot="end">
        <!-- Botón para editar -->
        <ion-button (click)="editUser(user)">
          Editar
        </ion-button>
        <!-- Botón para eliminar -->
        <ion-button color="danger" (click)="deleteUser(user)">
          Eliminar
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>
</ion-content>
