<ion-header>
  <ion-toolbar color="primary">
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-menu side="start" contentId="main-content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Seguimiento Nutricional</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <!-- Nutrientes acumulados -->
      <ion-item>
        <ion-label>Grasa Total Ingerida</ion-label>
        <ion-badge color="primary">{{ totalFat }} g</ion-badge>
      </ion-item>
      <ion-item>
        <ion-label>Sodio Total Ingerido</ion-label>
        <ion-badge color="primary">{{ totalSodium }} mg</ion-badge>
      </ion-item>
      <ion-item>
        <ion-label>Carbohidratos Totales Ingeridos</ion-label>
        <ion-badge color="primary">{{ totalCarbs }} g</ion-badge>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-content id="main-content">
  <div class="container">
    <!-- Título principal -->
    <h1>¡Tu salud en un vistazo!</h1>

    <!-- Gráfico circular (Placeholder para gráfico) -->
    <div class="chart">
      <ion-segment (ionChange)="onSegmentChanged($event)">
        <ion-segment-button value="Desayuno">Desayuno</ion-segment-button>
        <ion-segment-button value="Almuerzo">Almuerzo</ion-segment-button>
        <ion-segment-button value="Once">Once</ion-segment-button>
        <ion-segment-button value="Otro">Otro</ion-segment-button>
      </ion-segment>
    </div>

    <!-- Contador de nutrientes -->
    <div class="nutrition-counter">
      <h2>Nutrición General</h2>
      <p><strong>Grasa Total:</strong> {{ totalFat }} g</p>
      <p><strong>Sodio:</strong> {{ totalSodium }} mg</p>
      <p><strong>Carbohidratos:</strong> {{ totalCarbs }} g</p>
    </div>
  </div>
</ion-content>
