<ion-header [class.dark]="darkModeEnabled">
  <ion-toolbar [color]="darkModeEnabled ? 'dark' : 'primary'">
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-menu side="start" contentId="main-content">
  <ion-header [class.dark]="darkModeEnabled">
    <ion-toolbar [color]="darkModeEnabled ? 'dark' : 'primary'">
      <ion-title>Seguimiento Nutricional</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <!-- Nutrientes acumulados -->
      <ion-item>
        <ion-label>Grasa Total Ingerida</ion-label>
        <ion-badge color="primary">{{ totalFat }} g</ion-badge>
      </ion-item>
      <ion-item>
        <ion-label>Sodio Total Ingerido</ion-label>
        <ion-badge color="primary">{{ totalSodium }} mg</ion-badge>
      </ion-item>
      <ion-item>
        <ion-label>Carbohidratos Totales Ingeridos</ion-label>
        <ion-badge color="primary">{{ totalCarbs }} g</ion-badge>
      </ion-item>

      <!-- Modo nocturno -->
      <ion-item>
        <ion-label>Modo nocturno</ion-label>
        <ion-toggle slot="end" [checked]="darkModeEnabled" (ionChange)="toggleDarkMode()"></ion-toggle>
      </ion-item>

      <!-- Cerrar sesión -->
      <ion-item (click)="logout()">
        <ion-label color="danger">Cerrar sesión</ion-label>
      </ion-item>

      <!-- Opciones solo para administradores -->
      <ion-item *ngIf="isAdmin">
        <ion-label color="secondary">Opciones de administrador</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-content id="main-content">
  <div class="container">
    <h1>¡Tu salud en un vistazo!</h1>
    <div class="chart">
      <ion-segment (ionChange)="onSegmentChanged($event)">
        <ion-segment-button value="Desayuno">Desayuno</ion-segment-button>
        <ion-segment-button value="Almuerzo">Almuerzo</ion-segment-button>
        <ion-segment-button value="Once">Once</ion-segment-button>
        <ion-segment-button value="Otro">Otro</ion-segment-button>
      </ion-segment>
    </div>
  </div>
</ion-content>
