<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Verificación de Correo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Finalizar Registro</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="content">
    <!-- Mensaje de confirmación o error será mostrado por alertas -->
    <ion-text>
      <p>Estamos verificando tu correo electrónico...</p>
    </ion-text>
  </div>
</ion-content>
